$accent-color: #2ecc71;

.brand-01{
  background-color: #241A2E;
}

.brand-02{
  background-color: #B3152A;
}

.brand-03{
  background-color: #F5155A;
}

.brand-04{
  background-color: #F3990E;
}


.info{
  background-color: #d7ecfa;
}

.success{
  background-color: #e1faea;
}

.warning{
  background-color: #fff3d9;
}

.error{
  background-color: #f7e4e1;
}
